# These are default models for completion, voicemail detection and prompt generation.
# Please change these to the models you want to use.
# Note: please keep these as they are mandatory for now. 
COMPLETION_MODEL=gpt-4o-mini
VOICEMAIL_DETECTION_MODEL=gpt-4o-mini
PROMPT_GENERATION_MODEL=gpt-4o-mini

# Twilio Credentials
TWILIO_ACCOUNT_SID=<your-twilio-sid>
TWILIO_AUTH_TOKEN=<your-twilio-auth-token>
TWILIO_PHONE_NUMBER=<your-twilio-phone-number>

# Deepgram Credentials
DEEPGRAM_AUTH_TOKEN=<your-deepgram-token>

# OpenAI Credentials
OPENAI_API_KEY=<your-openai-api-key>

# ElevenLabs Credentials
ELEVEN_LABS_API_KEY=<your-elevenlabs-api-key>

# Redis Credentials
REDIS_URL=redis://redis:6379

# Groq Credentials
GROQ_API_KEY=<your-groq-api-key>
GROQ_MODEL=llama3-70b-8192

# Cartesia Credentials
CARTESIA_API_KEY=<your-cartesia-api-key>
CARTESIA_VOICE_ID=<your-voice-id>

# Sarvam Credentials
SARVAM_API_KEY=<your-sarvam-api-key>
SARVAM_MODEL=saarika:v1
